<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
    
    
    <context:annotation-config/>
    <!--
    <context:component-scan/>
    <context:annotation-config/>
    -->
    <!--Регистрируем для выполнения третьей фазы инициализации-->
    <bean class="quoter.PostProxyInvokerContextListener"/>
    <!--регистрируем PostProcessor для выполнения прокси-->
    <bean class="quoter.ProfilingHandlerBeanPostProcessor"/>
    <!--регистрируем PostProcessor для выполнения метод помеченных @PostConstruct-->
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
    <!--регистрируем наш PostProcessor для инжекции случайного числа-->
    <bean class="quoter.InjectRandomIntAnnotationBeanPostProcessor"/>
    <!--Для подмены устаревших классов-->
    <bean class="quoter.DeprecationHandlerBeanFactoryPostProcessor"/>
    
    <bean id="terminatorQuoter"
          class="quoter.terminator.TerminatorQuoter">
        <property name="message" value="I'll be back" />
    </bean>
</beans>